* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fef9f8;
}

.main-header {
    border-top: 10px solid #ef9273;
    border-bottom: 5px solid #fff;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.main-header__logo-wrapper {
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 510px);
}

.main-header__logo-wrapper a {
    text-decoration: none;
    color: black;
}

.main-header__logo-wrapper a img {
    width: 60px;
    height: 60px;
}

.main-header__main-nav {
    display: inline-block;
    vertical-align: middle;
}

.main-header__main-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.main-header__main-nav-list-item {
    display: inline-block;
}

.main-header__main-nav-list-item a {
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 5px 20px;
}

.main-header__main-nav-list-item a:hover,
.main-header__main-nav-list-item a:active {
    color: #fef9f8;
    background: #ef9273;
    border-radius: 40px;
}

.courses-wrapper {
    background: url('./imgpsh_fullsize_courses.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    opacity: 0.8; /* definise prozirnost elementa (ili u procentima npr 80 % ili 0.8) */
    display: flex;
    flex-direction: column;
}
.courses-wrapper__course {
    
    border: 5px solid #ef9273;
    width: 50%;
    background-color: #fef9f9;
    padding: 25px;
    margin-bottom: 20px;
    opacity: 85%;
    min-width: 300px;
    min-height: 250px;
    position: relative;
    z-index: 1;
}

.courses-wrapper__course:hover {
    cursor: pointer;
    border-color: #e9683d;
    transition: 0.3 ease;
}

.advanced-course {
    order: 1;
}

.intermediate-course {
    order: 2;
    align-self: flex-end;
}

.basic-course {
    order: 3;
}

.courses-wrapper__course h3 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Courier Prime', monospace;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ec7f5a;
    padding: 5px;
    z-index: -1;
}

.courses-wrapper__course h1 {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.courses-wrapper__course ul,p {
    font-size: 15px;
    font-family: 'Courier Prime', monospace;
}
.main-footer {
    border-top: 3px solid white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Dodao centriranje teksta */
}

.main-footer__nav {
    width: 20%;
}

.main-footer__nav-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 15px 0;
}

.main-footer__nav-list li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}

.main-footer__nav-list li a:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px #ddd7d6;
    font-size: 18.5px;
    transition: 0.3s ease-in-out;
}

.main-footer__nav-social-icons {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.fa {
    padding: 20px;
    font-size: 35px;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Linkedin */
.fa-linkedin {
    background: #0A66C2;
    color: white;
}